.banner {
    padding: 5px 20px; /* Consistent padding */
    background-color: rgb(233, 122, 122);
    top: 0;
    width: 100%;
    z-index: 1001; 
    line-height: 1.5; 
    margin: 0;
    position: fixed;
    height: auto;
}

.banner p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    word-wrap: break-word; 
    margin: 0; 
}

@media screen and (max-width: 768px) {
    .banner {
        height: auto;
        position: fixed;
    }
    
    .banner p {
        font-size: 12px; 
        max-width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
}
