/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* The slides */
  .slide {
    display: none; /* Hide all slides by default */
    position: absolute;
    width: 100%;
    animation: fade 1.5s ease-in-out; /* Fade animation */
  }
  
  /* Slideshow images */
  .slideshow-image {
    width: 100%; /* Make the images fill the container */
    height: auto;
  }
  
  /* Fade animation */
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }
  